banner.png
images/bannerfb.svg
images/rect1050.png
legacy/example viev testgridsudokuspeedf.csv
legacy/example viev testgridsudokuspeedf.ods
legacy/modified sudoku solver.ipynb
legacy/short_texts_table.pdf
legacy/testgridsudokuspeedf.csv
